/* Pour le contrôle du body html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

:root{
    --color-red: red;
    --color-blue: #007bff;
    --color-white: #fff;
    --color-green: green;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.task-input {
    margin-bottom: 20px;
}

/* le input */
.task-input input, .task-input select {
    width: calc(100% - 80px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

/* Le bouton envoyer */
.task-input button {
    width: 80px;
    padding: 8px;
    background-color: var(--color-blue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color .4s;
}

.task-input button:hover {
    background-color: var(--color-blue);
    transition: background-color .4s;
}

/* la balise parent des li */
ul {
    list-style-type: none;
    padding: 0;
}
/* La mise en forme de la balise d'incrémentation */

/* Cette partie est le css des balise li */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.task :first-child{
    background-color: var(--color-green);
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 50%;
}
/* le survole des li*/
.task:hover {
    background-color: #e9ecef;
}

/* pour le bouton supprimer */
.task button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color .4s;
}

.task button:hover {
    background-color: #c82333;
    transition: background-color .4s;
}

/* Barre de recherche */
.task-input input[type="text"] {
    width: 98%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}
/* Cette partie sera pour la responsivité */
